exportPattern("^[[:alpha:]]+")
import(fields,RColorBrewer)
importFrom("grDevices", "colorRampPalette", "terrain.colors")
importFrom("graphics", "axis", "points")
importFrom("stats", "approx", "filter", "lm")


